In [3]:
%load_ext autoreload
%autoreload 2
import logging
logging.basicConfig(format="%(asctime)s %(levelname)-7s %(message)s", level=logging.INFO)
import pandas
import sys
sys.path.append('../..')
import apis
userApi = apis.endpoints.UsersAPI()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ModuleNotFoundError: No module named 'pandas'

In [4]:
# Get current users
usersJSON = userApi.getAllUsers()
userApi.users2CSV(usersJSON, 'users_export.csv')
usersTable = pandas.read_csv('users_export.csv')        
usersTable

2022-03-16 07:39:25,565 INFO    GET /icp4d-api/v1/users

,displayName,email,permissions,uid,user_roles,username
0,admin,--,"['administrator', 'can_provision', 'manage_cat...",1000330999,"['zen_administrator_role', 'zen_developer_role...",admin
1,Data Scientist,datascientist@ibm.com,"['access_catalog', 'create_project', 'create_s...",1000331002,['wkc_data_scientist_role'],datascientist
2,Data Steward,datasteward@ibm.com,"['create_project', 'manage_information_assets'...",1000331003,['wkc_data_steward_role'],datasteward
3,Data Engineer,dataengineer@ibm.com,"['create_project', 'author_governance_artifact...",1000331004,['zen_data_engineer_role'],dataengineer
4,Data Analyst,dqanalyst@ibm.com,"['create_project', 'manage_information_assets'...",1000331005,['wkc_data_quality_analyst_role'],dqanalyst
5,Data Scientist and Engineer Lead,dslead@ibm.com,"['access_catalog', 'create_project', 'create_s...",1000331006,"['wkc_data_scientist_role', 'zen_data_engineer...",dslead
6,UAT ops,uatops@ibm.com,"['access_catalog', 'create_project', 'create_s...",1000331007,['wkc_data_scientist_role'],uatops
7,Prod Ops,prodops@ibm.com,"['access_catalog', 'create_project', 'create_s...",1000331008,['wkc_data_scientist_role'],prodops
8,Reporting user,ba@ibm.com,"['create_project', 'access_catalog', 'access_i...",1000331009,['wkc_business_analyst_role'],potbauser
9,BaDisplay164680159049410,BA11@gmail.com,"['create_project', 'access_catalog', 'access_i...",1000331010,['wkc_business_analyst_role'],bauser164680159049451
10,Girish,girish@in.com,"['create_project', 'access_catalog', 'access_i...",1000331026,['wkc_business_analyst_role'],girish
11,Amol,amol@in.com,"['create_project', 'access_catalog', 'access_i...",1000331031,['wkc_business_analyst_role'],amol
12,CP4DUser1,CP4DUser1@in.com,"['create_project', 'access_catalog', 'access_i...",1000331034,['wkc_business_analyst_role'],cp4duser1
13,CP4DUser2,CP4DUser2@in.com,"['create_project', 'access_catalog', 'access_i...",1000331035,['wkc_business_analyst_role'],cp4duser2
14,CP4DUser3,CP4DUser3@in.com,"['create_project', 'access_catalog', 'access_i...",1000331036,['wkc_business_analyst_role'],cp4duser3
15,Rajesh,rajeh1@in.com,"['create_project', 'access_catalog', 'access_i...",1000331037,['wkc_business_analyst_role'],rajesh
16,CP4DDemo5,rajeh1@in.com,"['create_project', 'access_catalog', 'access_i...",1000331039,['wkc_business_analyst_role'],cp4ddemo5
17,User 1,user1@ibm.com,"['access_catalog', 'create_project', 'create_s...",1000331040,['wkc_data_scientist_role'],user1

In [3]:
# Add new users from CSV
usersTable = pandas.read_csv('new_users.csv')        
userApi.updateUsersFromTable(usersTable)

2022-03-16 07:39:20,332 INFO    POST /icp4d-api/v1/users
2022-03-16 07:39:20,333 INFO    PAYLOAD: {'user_name': 'user1', 'password': 'passw0rd', 'displayName': 'User 1', 'user_roles': ['Data Scientist'], 'email': 'user1@ibm.com'}